/* dark:bg-slate-800 */
.bg-slate-800 {
    background-color: rgb(30 41 59) !important;
}
/* text-white (en el div) */
/* dark:text-white (en el h1) */
.text-white {
    color: rgb(255 255 255) !important;
}

/* Resuelto con js agregando las clases de manera par o impar */

/* tr:nth-child(even) */
/* .nth-child-even {
    background-color: rgb(30 41 59) !important;
} */
/* tr:hover */
/* .tr-hover {
    background-color: rgb(30 41 59);
} */