/* General */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Share+Tech&family=Share+Tech+Mono&display=swap');
.titulo{
    text-align: center;
    text-align: left;
}
.jetbrains-font-semibold {
  font-family: monospace !important;
  font-family: 'JetBrains Mono', monospace !important;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #000;
}

/* Diseño de tablas */
table {
  font-family: 'JetBrains Mono', monospace !important;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  /* padding: 8px; */
  padding: 0.5rem;
  text-align: left;
  font-size: 14px;
  /* border-left: 1px solid #ddd; */
  background-color: rgba(250, 250, 250, 0.1);
  border-left: 0.5px solid rgba(255, 255, 255, 0.1);
}
th {
  /* background-color: #1a1b1e; */
  background-color: rgb(2 6 23);
  color: #fff;
  text-align: center;
}
tr:hover {
  /* background-color: #f5f5f5; */
  background-color: rgb(30 41 59);
}
/* tr:nth-child(even) {
  background-color: rgb(30 41 59);
} */
table a:hover {
  /* color: #ccc; */
  background-color: rgb(30 41 59);
}

/* Adapatar a tamaño A4 */
td:first-child {
    text-align: left;
}
@media print {
    table {
        font-size: 0.8rem;
    }
}
table td, table th {
  width: 950px;
}
table {
  width: 100%;
}

/* Scroll behavior */
/* ocultar el scrollbar vertical */
/* .scroll::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
} */


/* Scroll behavior */
/* Mostrar y personalizar el scrollbar vertical */
.scroll::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
  height: 8px;
  background-color: #F5F5F5; /* Color de fondo del espacio del scrollbar */
  background-color: #000;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color del pulgar (la parte deslizable) */
  background-color: #27282C;
  border-radius: 4px; /* Redondear los bordes del pulgar */
  background-clip: padding-box; /* Para evitar que el color de fondo se extienda fuera del borde redondeado */
  border: 2px solid transparent; /* Espacio entre el pulgar y el espacio del scrollbar */
}

.scroll::-webkit-scrollbar-track {
  border-radius: 4px; /* Redondear los bordes del espacio del scrollbar */
}

.scroll:hover::-webkit-scrollbar-thumb {
  background-color: #999; /* Cambiar el color del pulgar al pasar el mouse por encima */
}



/* ocultar scrollbar vertical y aún así permitir el scroll */
table {
  overflow-y: scroll;
  -ms-overflow-style: none; /* ocultar el scrollbar en IE y Edge */
  scrollbar-width: none; /* ocultar el scrollbar en Firefox */
}
table::-webkit-scrollbar {
  display: none; /* ocultar el scrollbar en Chrome y Safari */
}

/* Diseño de tabla 2 */
.tabla2 {
  background-color: #fff;
  background-color: rgb(30 41 59);
}

.tabla2 th {
  background-color: #555;
  background-color: #27282C;
  background-color: rgb(2 6 23);
}

/* Barra de navegación */
.navbar {
  /* color: #ccc; */
  /* background-color: #1a1b1e; */
  /* background-color: #27282C; */
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}
.navbar a {
  text-decoration: none;
  /* color: #ccc; */
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  align-items: right;
}

.navbar-right ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin-left: 5em;
}

.navbar-left img {
  max-width: 100%;
}

.navbar-right li a:hover {
  text-decoration: underline 2px solid;
  color: rgb(156 163 175);
}

/* Mover y separar enlaces de la barra de navegación */
.navbar-right ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/* Diseño responsivo de la tabla */
.table-container {
  overflow-x: auto;
}

/* Responsive Design */
@media (max-width: 767px) {
  .navbar-content {
    flex-direction: column;
  }

  .navbar-left {
    margin-bottom: 1em;
  }

  .navbar-right ul {
    flex-direction: column;
  }

  .navbar-right li {
    margin-left: 0;
    margin-bottom: 1em;
  }

  /* .titulo {
    font-size: 1.2rem;
  } */

  th, td {
    font-size: 12px;
  }

  table {
    min-width: 700px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .titulo {
    font-size: 1.5rem;
  }

  th, td {
    font-size: 13px;
  }

  table {
    min-width: 950px;
  }
}

/* TODO TABS */
/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
  background-color: rgba(30, 41, 59, 0.7);
  color: rgb(51 65 85);
  color: rgb(71 85 105);
  /* background-color: rgba(250, 250, 250, 0.1); */
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* @media screen and (max-width: 500px) {
  div.tab {
    display: grid !important;
  }
  .tab button {
    text-align: left;
  }
} */

/* Style the buttons that are used to open the tab content */
.tab button {
  /* background-color: inherit; */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  background-color: rgb(30 41 59);
  background-color: rgb(148 163 184);
}

/* Create an active/current tablink class */
.tab button.active {
  color: rgb(255 255 255);
  background-color: rgb(2 6 23);
  background-color: rgb(56 189 248);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  background-color: rgba(30, 41, 59, 0.7);
  background-color: rgb(30 41 59);
}

/* Style links */
.tabcontent>p a {
  color: #6f6f6f;
  color: #7a7a7a;
}
.tabcontent>p a:hover {
  text-decoration: underline 2px solid;
}

/* <!--------- SECTION VERSIONES Y TODO LIST ---------> */
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
#myUL, ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myUL li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  background-color: #1a1b1e;
  background-color: rgb(2 6 23);
  padding: 30px 40px;
  padding: 15px 20px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

@media screen and (max-width: 500px) {
  #listaOutof {
    display: none;
  }
}

/* Comportamiento lateral del aside */
.todoList-container {
	overflow: hidden;
}

.clear {
	clear: both;
}

.right h1 {
  margin-top: 0;
}

a.link-style {
  text-decoration: none;
  color: #ccc;
  color: #888;
  color: rgb(51 65 85);
}

a.link-style:hover {
  text-decoration: underline 2px solid;
}

/* Responsive */
@media screen and (max-width: 750px) {
  .left {
    float: none;
    width: 100%;
  }
  .right {
    margin-top: 35px;
    float: none;
    width: 100%;
  }
}

/* Responsvive Versions Deplymeny Setcion */
@media screen and (max-width: 570px) {
 section.todoList-container.w3-container {
  display: block !important;
 }
 section.todoList-container.w3-container article {
  padding-bottom: 25px;
 }
}

/* Titulos y subtitulos */
@media screen and (max-width: 767px) {
  .titulo {
    font-size: 1.5rem;
  }
  .subtitulo {
    font-size: 1.4rem;
  }
}

.d-hidden {
  display: none;
}

.f-hr {
  overflow: hidden;
  background-color: rgba(30, 41, 59, 0.7);
  color: rgb(71 85 105);
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* Estilo base para el checkbox */
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

/* Estilo cuando el checkbox está marcado */
.checkbox:checked {
  background-color: rgb(56, 189, 248);
  border-color: rgb(56, 189, 248);
}

/* Estilo para el tick (marca de verificación) cuando el checkbox está marcado */
.checkbox:checked:after {
  content: '\2714'; /* Unicode para la marca de verificación */
  display: block;
  text-align: center;
  color: rgb(255 255 255);
}